
{% extends 'layout.html' %}
{% load static %}
{% block content %}
   <div id="app" style="height: 100vh;">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <router-link :to="{name: 'ListChatPage'}" class="navbar-brand" href="#">
                        Chat app
                    </router-link>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <router-link :to="{name: 'ListChatPage'}" class="nav-link" :class="this.$route.name == 'ListChatPage'?'active':''">Chats</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name: 'ContactPage'}" class="nav-link" :class="this.$route.name == 'ContactPage'?'active':''">Contacts</router-link>
                            </li>
                            <li class="nav-item">
                                <a href="/accounts/logout/" class="nav-link">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a href="/accounts/login/" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" :class="notifications.length == 0? 'disabled':''" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Notifications
                                    <span class="badge bg-secondary">[[notifications.length]]</span>
                                    <span class="visually-hidden">unread messages</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li v-for="(notification, index) in notifications" :key="index">
                                        <a class="dropdown-item" href="#">
                                            <router-link :to="{name: 'ChatPage', params:{id: notification.chat.id}}"
                                                class="text-reset"
                                            >
                                                <strong>
                                                    [[notification.user.username]] 
                                                </strong>
                                                [[notification.text]]
                                            </router-link>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div v-for="notification in notifications" :key="notification.id">
                [[notification.message]]
            </div>
            <router-view></router-view>
        </main>
    </div>
    <footer>
        <script src="{% static 'js/app.js' %}"></script>
    </footer>
{% endblock content %}
