
{% extends 'layout.html' %}
{% load static %}
{% block content %}
   <div id="app" style="">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <router-link :to="{name: 'ListChatPage'}" class="navbar-brand" href="#">
                        Chat app
                    </router-link>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span v-if="countUnredNotifications > 0" class="badge bg-secondary">[[countUnreadNotifications]]</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <router-link :to="{name: 'ListChatPage'}" class="nav-link" :class="this.$route.name == 'ListChatPage'?'active':''">Chats</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name: 'ContactPage'}" class="nav-link" :class="this.$route.name == 'ContactPage'?'active':''">Contacts</router-link>
                            </li>
                            <li class="nav-item dropdown">
                                <a 
                                    class="nav-link dropdown-toggle" 
                                    {% comment %} :class="notifications.length == 0? 'disabled':''"  {% endcomment %}
                                    href="#" 
                                    id="navbarDropdown" 
                                    role="button"
                                    data-bs-toggle="dropdown" 
                                    aria-expanded="false"
                                >
                                    Notifications
                                    <span class="badge bg-secondary">[[countUnreadNotifications]]</span>
                                    <span class="visually-hidden">unread messages</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li v-if="currentNotifications.length == 0">
                                        <a href="#" class="dropdown-item disabled">You haven't any notifications</a>
                                    </li>
                                    <li v-else v-for="(notification, index) in currentNotifications.slice().reverse()" :key="index">
                                        <a class="dropdown-item" href="#">
                                            <router-link 
                                                :to="{name: 'ChatPage', params:{id: notification.chat.id}}"
                                                class="text-decoration-none text-dark"
                                                :class="notification.is_read ? 'text-muted' : ''"
                                                @click="markNotificationAsRead(notification)"
                                            >   
                                                <div class="row">
                                                    <div class="col align-items-start">
                                                        <svg v-if="notification.is_read" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                            <circle cx="8" cy="8" r="8"/>
                                                        </svg>
                                                        <svg v-if="!notification.is_read" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        </svg>
                                                    </div>
                                                    <div class="col align-items-end">
                                                        <strong>
                                                            [[notification.user.username]] 
                                                        </strong>
                                                        [[notification.text]]
                                                    </div>
                                                </div>
                                            </router-link>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav d-flex me-2">
                            {% if user.is_authenticated %}
                            <li class="nav-item me-2">
                                <a href="/accounts/logout/" class="nav-link">Logout</a>
                            </li>
                            {% endif %}
                            {% if not user.is_authenticated %}
                            <li class="nav-item me-2">
                                <a href="/accounts/login/" class="nav-link">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% if user.is_authenticated %}
                            <li class="nav-item d-flex">
                                <a href="#" class="nav-link disabled me-2">Welcome {{user.username}}</a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% comment %} <div v-for="notification in notifications" :key="notification.id">
                [[notification.message]]
            </div> {% endcomment %}
            {% comment %} [[messageNotifications]] {% endcomment %}
            <router-view>
            </router-view>
        </main>
    </div>
    <footer>
        <script src="{% static 'js/app.js' %}"></script>
    </footer>
{% endblock content %}
